<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
</head>
<style>
	img {
	    width: 	90px;
	    height:	130px;
		margin-bottom: 10px;
	}
	.container {
	    display: flex;   /* 水平排列 */
	    gap: 100;          /* 水平间隙为0 */
	}
	.container_r {
	    display: flex;   /* 水平排列 */
	    gap: 100;          /* 水平间隙为0 */
		justify-content: flex-end; /* 右对齐 */
	}
</style>

<body>
	<span th:each="fruit : ${fruits}" th:text="${fruit} + ' '"></span>
	<div style="text-align:center; width: 100%; background-color: green;" >
		<div style="width: 1200px;">
			<div style="display: flex;">
				<div style="width: 600px; text-align:left;" class="container">
					<div th:each="fruit : ${fruits}">
						<img th:src="@{/images/fruit.png}">
					</div>
					<img src="images/41.png" />
					<img src="images/47.png" />
					<img src="images/57.png" />
					<img src="images/70.png" />	
				</div>
				<div style="width: 600px; text-align:right;" class="container_r">
					<img src="images/72.png" />
					<img src="images/85.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
				</div>
			</div>

			<div style="display: flex;">
				<div style="width: 600px; text-align:left;" class="container">
					<img src="images/36.png" />
					<img src="images/41.png" />
					<img src="images/47.png" />
					<img src="images/57.png" />
				</div>
				<div style="width: 600px; text-align:right;" class="container_r">
					<img src="images/72.png" />
					<img src="images/85.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 600px; text-align:left;" class="container">
					<img src="images/36.png" />
					<img src="images/41.png" />
					<img src="images/47.png" />
					<img src="images/57.png" />
				</div>
				<div style="width: 600px; text-align:right;" class="container_r">
					<img src="images/72.png" />
					<img src="images/85.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
				</div>
			</div>
			
			<hr>
			
			<div style="display: flex;">
				<div style="width: 600px; text-align:left;" class="container">
					<img src="images/36.png" />
					<img src="images/41.png" />
					<img src="images/47.png" />
					<img src="images/57.png" />
					<img src="images/70.png" />	
				</div>
				<div style="width: 600px; text-align:right;" class="container_r">
					<img src="images/72.png" />
					<img src="images/85.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 600px; text-align:left;" class="container">
					<img src="images/36.png" />
					<img src="images/41.png" />
					<img src="images/47.png" />
					<img src="images/57.png" />
				</div>
				<div style="width: 600px; text-align:right;" class="container_r">
					<img src="images/72.png" />
					<img src="images/85.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
				</div>
			</div>
			<div style="display: flex;">
				<div style="width: 600px; text-align:left;" class="container">
					<img src="images/36.png" />
					<img src="images/41.png" />
					<img src="images/47.png" />
					<img src="images/57.png" />
					<img src="images/70.png" />	
				</div>
				<div style="width: 600px; text-align:right;" class="container_r">
					<img src="images/72.png" />
					<img src="images/85.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
					<img src="images/93.png" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>